html {
    overflow-x: hidden;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 59px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#header .logo {
    padding-top: 2.5px;
    width: 60px;
    margin-left: 35px;
    position: fixed;
}

#header .bold-text {
    font-weight: bold;
}

#nav {
    display: inline-block;
    list-style-type: none;
    margin-left: 0px;
    margin-top: 0px;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #252775;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 59px;
    padding: 0 20px;
    display: inline-block;
}

#header .search-box {
    width: 230px;
    height: 40px;
    position: relative;
    bottom: 6.5px;
    left: 100px;
    border: 1px solid #252775;
    border-radius: 5px;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    padding-left: 45px;
}

#header .search-box:focus {
    outline: none;
}

#header i {
    color: #252775;
}

#header a {
    text-decoration: none;
}

#header .search-icon {
    font-size: 20px;
    line-height: 59px;
    position: relative;
    right: 120px;
    bottom: 3px;
}

#header .shopping-icon,
#header .user-icon{
    font-size: 20px;
    line-height: 59px;
    font-size: 30px;
    display: inline;
}

#header .user-icon {
    margin-left: -25px;
}

#header .shopping-icon {
    margin-left: 110px;
    margin-right: 10px;
}

#header #lblCartCount {
    font-size: 10px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #252775;
    padding: 3px 6px;
    left: -3.5%;
    bottom: 25%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    position: relative;
}

#header .badge {
  border-radius: 50%;
  vertical-align: middle;
  outline: 1px solid #252775;
}

#banner {
    width: 95%;
    height: auto;
    margin-top: 59px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    position: relative;
}

#banner .banner {
    padding: 0;
}

#banner img {
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: top;
    object-fit: cover;
}

#banner .centered-text {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

#banner .button-signup {
    text-decoration: none;
    color: #121013;
    padding: 20px;
    background: linear-gradient(90deg, rgba(246,224,134,1) 0%, rgba(216,151,64,1) 100%);
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    width: 240px;
    font-weight: 400;
    font-size: 30px;
    font-family: "Bebas", "Bebas Neue";
}

#content {
    display: block;
    width: 100%;
}

#content .heading-product {
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 35px;
    color: #252775;
}

#content .heading-product::after {
    content: "";
    display: block;
    clear: both;
}

#content .male-product {
    margin: 15px auto;
    text-align: center;
    height: 300px;
    display: block;
}


#content .product-gallery {
    margin: 20px 20px;
    padding: 5px;
    width: 300px;
    display: inline-block;
}

#content .product-gallery a {
    text-decoration: none;
}

#content .product-gallery a:hover{
    opacity: 0.7;
}

#content .product-gallery a:visited {
    color: black;
}

#content .product-image {
    width: 100%;
    height: auto;
    display: block;
    image-rendering: crisp-edges;
}

#content .product-content {
    font-size: 14px;
    margin-top: 12px;
}

#content .product-name {
    margin-bottom: 3px;
}

#content .product-price {
    color: #252775;
}

#content .link-product {
    color: #252775;
    text-align: right;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 75px;
    font-weight: bold;
    font-style: italic;
}

#content .link-product a:visited {
    color: #252775;
}

#content .icon-arrow-right {
    text-decoration: none;
}

#content .female-product {
    margin-top: 120px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 240px;
}

.banner-advertise {
    position: relative;
    margin-top: 30px;
}

.banner-advertise img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#bigger img{
    width: 70%;
}

.carousel {
    width: 98%;
    display: block;
    margin: 30px auto;
    height: auto;
}

.carousel img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.carousel {
    position: relative;
  }

.carousel .carousel-heading {
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}
  
  .carousel-item {
    height: auto;
    background: #252775;
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    display: none;
    position: relative;
  }

  .carousel img {
    image-rendering: crisp-edges;
  }
  
  .carousel-item--selected {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
  
  .carousel-nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel-button {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    margin: -15px 5px;
    cursor: pointer;
  }
  
  .carousel-button--selected {
    background: #000;
  }

 /* #footer img{
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    object-fit: contain;
 } */

 #footer{
    width: 100%;
    margin-top: 10px;
 }

.footer-divide {
    background-color: #252775;
    height: 3px;
    border: 0;
    width: 300%;
    margin-left: -20%;
}

 #footer .title-footer{
    padding-left: 85px;
    padding-top: 15px;
    margin-bottom: 35px;
 }

 #footer .content-footer {
    padding-right: 15px;
    padding-top: 40px;
    padding-left: 80px;
    margin-bottom: 35px;
 }

 #footer .title-logo img {
    width: 90px;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    object-fit: contain;
    vertical-align: middle;
}

#footer span {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #252775; 
}

#footer a {
    text-decoration: none;
    color: #252775;
}

#footer li {
    list-style-type: none;
    margin-top: 20px;
    color: #252775;
}

#footer .title-content-footer{
    font-size: 14px;
}

#footer .title-footer-icon{
    font-size: 32px;
    margin-right: 32px;
}

#footer .header-content-footer{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #252775;
}

#footer .content-footer img{
        width: 35px;
        margin-right: 10px;
}

#footer .content-footer .product{
    padding-left: 65px;
}

#footer .content-footer .help {
    padding-left: 50px;
}

#footer .content-footer .transport {
    margin-left: -25px;
}

#footer .content-footer .pay {
    margin-left: 20px;
}


 /* Responsive PC standard size */
 @media (min-width: 1200px) and (max-width: 1389px){
    #header .logo {
        padding-top: 2.5px;
        width: 60px;
        margin-left: 45px;
    }

    #nav li a {
        padding: 0px 15px;
        font-size: 14px;
    }

    #header .search-box {
        left: 50px;
    }

    #header .search-icon {
        right: 170px;
    }

    #header .shopping-icon {
        margin-left: 55px;
    }

    #footer .title-footer {
        padding-left: 80px;
    }

    #footer .title-content-footer {
        font-size: 12px;
    }

    #footer span {
        font-size: 25px;
    }

    #footer .content-footer {
        padding-right: 25px;
        padding-left: 60px;
    }

    #footer .header-content-footer {
        font-size: 14px;
    }

    #footer .title-footer-icon {
        font-size: 25px;
    }    

    #footer li {
        font-size: 13px;
    }

    #footer .content-footer .help {
        padding-left: 40px;
    }
 }

 /* Responsive lower resolution PC and large tablet */
@media (min-width: 1024px) and (max-width: 1200px) {
html::-webkit-scrollbar {
    display: none;
}

#header {
    position: absolute;
}

#header .logo {
    margin-left: 42px;
    padding-top: 7.5px;
    width: 50px;
    position: absolute;
}

#header .search-box {
        width: 200px;
        height: 35px;
        position: relative;
        bottom: 5.5px;
        left: 0px;
    }

#header .search-icon {
        font-size: 16px;
        right: 196px;
        bottom: 3px;
    }

#header .shopping-icon {
    margin-left: -10px;
    margin-right: 10px;
    font-size: 25px;
}

#header .user-icon {
    margin-left: -25px;
    font-size: 25px;
}

#header #lblCartCount{
    padding: 1.5px 4px;
    left: -4.5%;
    bottom: 21%;
    font-size: 9px;
}

#nav li a {
        font-size: 11px;
    }

#banner .button-signup{
    padding: 15px;
    width: 200px;
    font-size: 25px;
}

#content .heading-product{
    font-size: 16px;
}


#content .male-product{
    height: 215px;
    margin: 0 auto;
}

#content .product-gallery{
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
}

#content .product-name {
    font-size: 11px;
}

#content .product-price {
    font-size: 11px;
}

#content .link-product{
    margin-right: 40px;
    font-size: 11px;
}

.footer-divide {
    height: 2px;
}

#footer {
    margin-left: -20px;
    width: 104.5%;
}

#footer .title-footer {
    padding-left: 20px;
    padding-top: 5px;
}

#footer .title-logo img {
    width: 60px;
}

#footer span {
    font-size: 20px;
}

#footer .title-content-footer {
    font-size: 11px;
}

#footer .title-footer-icon {
    font-size: 25px;
}

#footer .header-content-footer {
    font-size: 11px;
}

#footer li {
    font-size: 10px;
}

#footer .content-footer {
    padding-right: 0px;
    padding-top: 25px;
    padding-left: 20px;
    margin-bottom: 30px;
}

#footer .content-footer img {
    width: 30px;
}

#footer .content-footer .product {
    padding-left: 50px;
}

#footer .content-footer .help {
    padding-left: 35px;
}

#footer .content-footer .pay {
    margin-left: 10px;
}

#footer .content-footer .transport {
    margin-left: -20px;
}

}


 /* Responsive Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    html::-webkit-scrollbar {
        display: none;
    }

    #header {
        position: absolute;
    }

    #header .logo {
        padding-top: 12.5px;
        width: 40px;
        margin-left: 27px;
        position: absolute;
    }

    #header .search-box {
        width: 155px;
        height: 35px;
        bottom: 4px;
        left: -15px;
        padding-left: 30px;
    }

    #header .search-icon {
        font-size: 14px;
        right: 165px;
        bottom: 3.5px;
    }

    #header .shopping-icon {
        margin-left: -27px;
        font-size: 25px;
    }

    #header .user-icon {
        margin-left: -25px;
        font-size: 25px;
    }

    #header #lblCartCount {
        font-size: 7px;
        padding: 2px 4px;
        left: -5%;
        bottom: 20%;
    }

    #nav li a {
        font-size: 10px;
        padding: 0px 7px;
    }

    #banner img {
    width: 116%;
    margin-left: -50px;
    }

    #banner .button-signup {
        padding: 15px;
        width: 155px;
        font-size: 18px;
    }

    #content .heading-product {
        font-size: 15px;
    }

    #content .product-gallery {
        margin: 5px;
    }

    #content .product-name {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    #content .product-price {
        color: #252775;
        font-size: 12px;
    }

    #content .male-product {
        height: 140px;
    }

    #content .link-product {
        margin-right: 0px;
    }

    #content .link-product {
        color: #252775;
        text-align: right;
        padding-left: 500px;
        font-size: 10px;
    }

    .carousel .carousel-heading {
        font-size: 15px;
    }

    .carousel-button {
        width: 5px;
        height: 5px;
    }

    .footer-divide {
        height: 2px;
    }
    
    #footer {
        margin-left: -52px;
        width: 120%;
    }
    
    #footer .title-footer {
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
    }
    
    #footer .title-logo img {
        width: 50px;
    }
    
    #footer span {
        font-size: 20px;
    }
    
    #footer .title-content-footer {
        font-size: 9.5px;
    }
    
    #footer .title-footer-icon {
        font-size: 20px;
        margin-right: 15px;
    }
    
    #footer .header-content-footer {
        font-size: 10px;
    }
    
    #footer li {
        font-size: 10px;
    }
    
    #footer .content-footer {
        padding-right: 0px;
        padding-top: 25px;
        padding-left: 25px;
        margin-bottom: 30px;
    }
    
    #footer .content-footer img {
        width: 25px;
    }
    
    #footer .content-footer .product {
        padding-left: 30px;
    }
    
    #footer .content-footer .help {
        padding-left: 15px;
    }

    #footer .content-footer .support {
        padding: 0;
    }

    #footer .content-footer .transport {
        padding: 0;
        margin-left: -23px;
    }

    #footer .content-footer .pay {
        padding: 0;
        margin-left: 10px;
    }

} 